<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/public/custom.css">
  <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/dist/css/bootstrap.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Acme Products & Categories</title>
</head>
<body>
<div class="container">
  <div class="page-header">
      <h1>Welcome to Acme!</h1>
  </div>
  <!-- tab nav -->
    <ul id="category-nav" class="nav nav-tabs">
      <li class="active"><a href="/">Home</a></li>
      {% for cat in categoryNames %}
      <li>
        <a href="/categories/{{ cat }}/products">{{ cat }}</a>
      </li>
      {% endfor %}
    </ul>
    <div class="container">
      {% block content %}
        Whoops! Something Didn't Load Properly
      {% endblock %}
    </div>
</div>
  <footer class="footer">
    <div class="container">
      <p class="text-muted">App written  by Mike Kerslake with express, node and too many cups of coffee.</p>
    </div>
  </footer>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(".nav a").on("click", function(){
   $(".nav").find(".active").removeClass("active");
   $(this).parent().addClass("active");
  });
  </script>
</body>
</html>
