{% extends "layout.html" %}

{% block content %}

   <div class='container'>
      <h1>Products for {{ catName }}</h1>
      <div class='well'>
        <form action='/categories/{{ catName }}/products' method='POST'>
          <div class='form-group'>
            <input class='form-control' name='name' placeholder='add product'/>
          </div>
          <div class='form-group'>
            <button class='btn btn-primary'>Save</button>
          </div>
        </form>
      </div>
      <ul class='list-group'>
        {% for product in products %}
          <li class='list-group-item'>
              {{ product.name }}<br><br>
              <form method="post" action="products/{{ product.id }}?_method=DELETE"">
              <button class="btn btn-warning">Delete</button>
              </form>
          </li>
        {% endfor %}
      </ul>
      <div class="container">
          <form method="post" action="/categories/{{ catName }}?_method=DELETE"">
          <button class="btn btn-danger">Delete Category</button>
          </form>
      </div>
    </div>

{% endblock %}
